<!DOCTYPE html> 
<html>
<head>
 <title></title> 
 <link rel="stylesheet" href="{{ url_for('static',filename='nav.css') }}"/>
</head> 
<body style="background-color:black;"> 
    <div class="nav">
        <nav>
            <a id="home" href="{{ url_for('index') }}"> Home</a>
            <a id="logout" href=""> Logout</a>
            <a id="add" href="{{ url_for('add') }}">Add</a>
        </nav>
    </div>
    <div>
        <center><h1 style="color:white;">Exam Fee Registration</h1></center>
    </div>
    <div style="padding-top:90px">
        <center><button><a  href="{{ url_for('add') }}"> Register for Exam</a></button></center>
        <style type="text/css">
            button{
                padding:15px;
                width:25%;
                background-color:wheat;
                font-size:25px;
                text-decoration:none;
                border:none;
                border-radius:10px;
                box-shadow:3px 5px 30px blue;
            }
            a{
                text-decoration:none;
                font-weight:bold;
                color:blue;
                
            }
        </style>
    </div>

</body> 
</html>